.tech-container {
  padding: 50px;
  background: #f5f7fb;
}

.section-head {
  text-align: center;
  margin-bottom: 40px;
}

.section-head h4 {
  font-size: 34px;
  color: orange;
}

.section-head span {
  color: #222;
}

.tech-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.tech-item {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: 0.4s;
}

.tech-item:hover {
  transform: translateY(-10px);
  background: #f9bd19;
  color: white;
}

.tech-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.tech-item h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tech-item p {
  font-size: 14px;
  line-height: 22px;
}